<div ng-controller="KbnSankeyVisController" class="kbn-sankey">

  <div ng-if="!hasSomeRows && hasSomeRows !== null" class="visError">
    <div class="euiText euiText--extraSmall euiTextColor euiTextColor--subdued">
      <icon type="'visualizeApp'" size="'m'" color="'subdued'"></icon>

      <br>
      <br>

      <p
        i18n-id="visTypeTable.vis.noResultsFoundTitle"
        i18n-default-message="No results found">
      </p>
    </div>
  </div>

  <div ng-if="hasSomeRows" class="table-vis-container" ng-class="tableVisContainerClass" data-test-subj="tableVis">
    pppppp {{hasSomeRows}}
    <kbn-enhanced-agg-table-group
      filter="vis.API.events.filter"
      group="tableGroups"
      export-title="visState.title"
      per-page="visState.params.perPage"
      sort="sort"
      show-total="visState.params.showTotal"
      total-func="visState.params.totalFunc"
      csv-export-with-total="visState.params.csvExportWithTotal && visState.params.showTotal"
      csv-full-export="visState.params.csvFullExport && visState.params.computedColumns.length === 0 && !visState.params.linesComputedFilter && !visState.params.hiddenColumns && !visState.params.csvExportWithTotal && !visState.params.addRowNumberColumn"
      csv-encoding="visState.params.csvEncoding || 'utf-8'"
      field-columns="visState.params.fieldColumns">

    </kbn-enhanced-agg-table-group>
  </div>
</div>
